body { 
    background-color: #121212; 
    color: #e0e0e0;
    padding-top: 80px; 
}

pre {
    background-color: #000000 !important;
    color: #ff002b !important; 
    border: 1px solid #333;
    text-align: left; 
    padding: 15px;
    border-radius: 5px;
    white-space: pre-wrap; 
}